@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: rgb(229 230 232);
}
@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Roboto.woff2) format('woff2');
  }
}
